<%# <h1>Welcome</h1> %>
<%= render '/layouts/search' %>

<%# Feature %>
<div id='feature_carousel' class='carousel slide pt-3' data-bs-ride='carousel'>
    <div class='carousel-indicators'>
        <button type='button' data-bs-target='#feature_carousel' data-bs-slide-to='0' class='active' aria-current='true' aria-label='Slide 1'></button>
        <button type='button' data-bs-target='#feature_carousel' data-bs-slide-to='1' aria-label='Slide 2'></button>
        <button type='button' data-bs-target='#feature_carousel' data-bs-slide-to='2' aria-label='Slide 3'></button>
        <button type='button' data-bs-target='#feature_carousel' data-bs-slide-to='3' aria-label='Slide 4'></button>
    </div>
    <div class='carousel-inner rounded-1'>
        <div class='carousel-item active ratio ratio-21x9'>
            <%= image_tag 'flower_feature.jpg', alt: 'Feature 1', class: 'd-block w-100' %>
            <div class='carousel-caption d-none d-md-block p-5 text-end'>
                <h5>Beautiful Blooms</h5>
                <p>Spring bulbs now on sale now.</p>
            </div>
        </div>
        <div class='carousel-item ratio ratio-21x9'>
            <%= image_tag 'vegetable_feature.jpg', alt: 'Feature 2', class: 'd-block w-100' %>
            <div class='carousel-caption d-none d-md-block p-5 text-start align-content-end'>
                <h5>Garden to Table</h5>
                <p>Get excited about meal prep this summer.</p>
            </div>
        </div>
        <div class='carousel-item ratio ratio-21x9'>
            <%= image_tag 'dirty_hands_feature.jpg', alt: 'Feature 3', class: 'd-block w-100' %>
            <div class='carousel-caption d-none d-md-block p-5 text-end align-content-end'>
                <h5>Spring Seeding</h5>
                <p>We've got all your planting needs covered.</p>
            </div>
        </div>
        <div class='carousel-item ratio ratio-21x9'>
            <%= image_tag 'gardening_together_feature.jpg', alt: 'Feature 4', class: 'd-block w-100' %>
            <div class='carousel-caption d-none d-md-block p-5 text-start'>
                <h5>Questions?</h5>
                <p>Let us help you grow.</p>
            </div>
        </div>
    </div>
    <button class='carousel-control-prev' type='button' data-bs-target='#feature_carousel' data-bs-slide='prev'>
        <span class='carousel-control-prev-icon' aria-hidden='true'></span>
        <span class='visually-hidden'>Previous</span>
    </button>
    <button class='carousel-control-next' type='button' data-bs-target='#feature_carousel' data-bs-slide='next'>
        <span class='carousel-control-next-icon' aria-hidden='true'></span>
        <span class='visually-hidden'>Next</span>
    </button>
</div>

<%# Categories %>
<div class='row row-cols-sm-2 row-cols-md-3 p-2'>
<% @plant_categories.each do |c| %>
    <div class='card p-0 overflow-hidden'>
        <%= link_to "/plants?category=#{c.id}", class: "text-white zoom" do %>
            <%= image_tag c.image, alt: c.plant_category, width: "200", class: 'card-img-top' if c.image.attached? %>
            <div class='card-img-overlay d-flex align-items-center justify-content-center bg-dark opacity-75'>
                <h5 class='card-title'><%= c.plant_category %></h5>
            </div>
        <% end %>
    </div>
<% end %>
</div>