<h1>Contact Us</h1>

<ul>
    <li><%= @contact.phone %></li>
    <li><%= @contact.email %></li>
    <li><%= @contact.street %></li>    
    <li><%= @contact.city %>, <%= @contact.province.code %></li>
    <li><%= @contact.postal_code %></li>
</ul>

<p>Questions?</p>

<%= form_with do |f| %>
    <div class='input-group'>
        <%= f.text_field class: "form-control" %>
    </div>
    <div class='input-group'>
        <%= f.text_area class: "form-control" %>
    </div>
    <div class='input-group'>
        <%= f.submit class: "btn btn-primary" %>
    </div>
<% end %>