<%= render_breadcrumbs %>
<h1><%= @plant.name %></h1>
<h2><i><%= @plant.latin_name %></i></h2>
<%= image_tag @plant.image, alt: @plant.name, width: "500", class: "img-thumbnail" %>
<p><%= @plant.description %></p>

<%= form_with url: cart_index_path, method: :post do |form| %>
    <%= form.hidden_field :plant_id, value: @plant.id %>
    <% if @plant.prices.count > 1 %>
        <div class="input-group">
            <%= form.collection_select :price_id, @plant.prices.all, :id, :price, {class: 'form-select'} %>
        </div>
    <% else %>
        <div class='input-group'>
            <%= form.label :price_id, @plant.prices.first.price %>
            <%= form.hidden_field :price_id, value: @plant.prices.first.id %>
        </div>
    <% end %>
    <div class='input-group'>
        <%= form.number_field :quantity, class: 'form-control', value: 1 %>
    </div>
    <div class='input-group'>
        <%= form.submit "Add to cart", class: 'btn btn-outline-success' %>
    </div>
<% end %>
