<div class='d-flex flex-column align-items-center'>
<h1>Checkout</h1>
<div class='d-flex flex-row mt-2' style='max-width: 400px'>
    <div class='card'>
        <div class='card-body'>
            <h5 class='card-title'>Shipping Address</h5>
                <%= form_with model: @user, url: orders_path, method: :post, class: 'row g-3 mb-3' do |f| %>
                    <div class='col-12'>
                        <%= f.text_field :first_name, placeholder: 'First Name', class: 'form-control' %>
                    </div>
                    <div class='col-12'>
                        <%= f.text_field :last_name, placeholder: 'Last Name', class: 'form-control' %>
                    </div>
                    <div class='col-12'>
                        <%= f.email_field :email, placeholder: 'Email', class: 'form-control', disabled: user_signed_in? %>
                    </div>
                    <div class='col-12'>
                        <%= f.text_field :phone, placeholder: 'Phone', class: 'form-control' %>
                    </div>
                    <div class='col-12'>
                        <%= f.text_field :street, placeholder: 'Street', class: 'form-control' %>
                    </div>
                    <div class='col-12'>
                        <%= f.text_field :city, placeholder: 'City', class: 'form-control' %>
                    </div>
                    <div class='col-6'>
                        <%= f.collection_select :province_id, Province.all, :id, :code, {prompt: 'Province...'}, class: 'form-select' %>
                    </div>
                    <div class='col-6'>
                        <%= f.text_field :postal_code, placeholder: 'Postal Code', class: 'form-control' %>
                    </div>
                    <div class='col-12 d-flex justify-content-end'>
                        <%= f.submit "Order Summary ->", class: 'btn btn-outline-primary' %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
</div>