<footer class='container-fluid'>
    <hr>
    <nav class='navbar align-items-start'>
        <div>
            <p><%= link_to "ABOUT", about_path %></p>
            <ul>
                <%# <li>Mon: 9am - 5pm</li>
                <li>Tues: 9am - 5pm</li>
                <li>Wed: 9am - 5pm</li>
                <li>Thurs: 9am - 5pm</li>
                <li>Fri: 9am - 5pm</li> %>
                <li>Mon - Fri: 9am - 5pm</li>
                <li>Sat: 10am - 4pm</li>
                <li>Sun: Closed</li>
            <ul>
        </div>
        <div>
            <p><%= link_to "CONTACT", contact_path %></p>
            <ul>
                <li><%= @contact.street %><br/><%= @contact.city %>, <%= @contact.province.code %></li>
                <li><%= @contact.email %><br/><%= @contact.phone %></li>
            </ul>
        </div>
        <div>
            <p>FOLLOW</p>
            <ul>
                <%= link_to "Instagram", "#" %><br/>
                <%= link_to "Facebook", "#" %>
            </ul>
        </div>
        <div>
            <p>ACCOUNT</p>
            <ul>
                <% if user_signed_in? %>
                    <%= link_to "My Account", "/account" %>
                <% else %>
                    <%= button_to "Login", user_google_oauth2_omniauth_authorize_path, method: :post, data: {turbo: false}, class: 'btn btn-link p-0 signin' %>
                <% end %>
            </ul>
        </div>
    </nav>
</footer>