<header class='container-fluid'>
    <%# <nav class='navbar navbar-expand-sm container-fluid'>
        <div>
            <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#nav-overflow'>
                <span class='navbar-toggler-icon'></span>
            </button>
            <%# <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M512 32c0 113.6-84.6 207.5-194.2 222c-7.1-53.4-30.6-101.6-65.3-139.3C290.8 46.3 364 0 448 0h32c17.7 0 32 14.3 32 32zM0 96C0 78.3 14.3 64 32 64H64c123.7 0 224 100.3 224 224v32V480c0 17.7-14.3 32-32 32s-32-14.3-32-32V320C100.3 320 0 219.7 0 96z"/></svg> 
            <%= link_to "Sprout", root_path, class: 'navbar-brand' 
        </div>
        <div class='collapse navbar-collapse' id='nav-overflow'>                     
            <%= link_to "About", about_path, class: 'nav-link' 
            <%= link_to "Contact Us", contact_path, class: 'nav-link' 
        </div> %>
    <nav class='navbar container-fluid d-flex flex-column flex-md-row align-items-center'>
        <%= link_to "Sprout", root_path, class: 'navbar-brand' %>
        <% if not current_page?("/") %>
        <div class='py-md-0 pb-2'>
            <%= render 'layouts/search' %></div>
        <% end %>
        <div class='d-flex flex-row'>
            <% if user_signed_in? %>
                <div class='btn-group dropdown'>
                    <button class='btn btn-outline-secondary' type='button'>
                        <%= link_to current_user.name, "/account" %>
                    </button>
                    <button type='button' class='btn btn-outline-secondary dropdown-toggle dropdown-toggle-split' data-bs-toggle='dropdown'>
                        <span class='visually-hidden'></span>
                    </button>
                    <ul class='dropdown-menu'>
                        <li><%= button_to "Logout", destroy_user_session_path, method: :delete, data: {turbo: false}, class: 'dropdown-item' %></li>
                    </ul>
                </div>
            <% else %>
                <%= button_to "Login", user_google_oauth2_omniauth_authorize_path, method: :post, data: {turbo: false}, class: 'btn btn-outline-secondary' %>
            <% end %>        
            <button class='btn btn-outline-secondary ms-2' type='button' data-bs-toggle='collapse' data-bs-target='#cart-details'>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                </svg>
            </button>
        </div>
        <div class='collapse position-absolute top-100 end-0' style="z-index: 2000" id='cart-details'>
            <% if cart.present? %>
            <div class='card bg-success-subtle p-1'>
                <% cart.each do |item| %>
                <div class='card mb-1'>
                    <div class='card-body'>
                        
                        <div class='d-flex align-items-center'>                        
                        <%= image_tag item[:plant].image, width: "100", class: "img-thumbnail me-2" %>
                        <div>
                            <h5 class='card-title'><%= item[:plant].name %></h5>
                        <% item[:amounts].each do |amount| %>
                            <%= form_with url: cart_path(item[:plant].id), method: :put, remote: true do |f| %>
                                <%= f.hidden_field :price_id, value: amount[:price].id %>
                                <div class='input-group'>
                                    <%= f.number_field :quantity, value: amount[:quantity], in: 0...100, step: 1, onChange: 'this.form.submit()', class: 'form-control', style: "width: 80px" %>
                                    <%# <span class="input-group-text">@</span> %>
                                    <label class='form-control text-end' style="width: 90px"><%= number_to_currency(amount[:price].price) %></label>
                                </div>
                            <% end %>                        
                        <% end %>
                        </div>
                        </div>
                    </div>
                    <div class='card-footer d-flex justify-content-end'>
                        <%= button_to "Remove", cart_path(item[:plant].id), method: :delete, class: 'btn btn-secondary' %>
                    </div>
                </div>
                <% end %>
                <%= link_to "Checkout", '/checkout/shipping', class: 'btn btn-success' %>
            </div>
            <% else %>
                <div class='card'>
                    <div class='card-body'>
                        <h5 class='card-title'>Add an item!</h5>
                        <p class='card-text'>Subtext</p>
                    </div>
                </div>
            <% end %>
        </div>
    </nav>
    <hr class='mt-0'>
</header>