<%= form_with url: plants_path, method: :get, local: true, id: 'search_form' do |form| %>
    <div class="input-group">
        <button type='button' class='btn btn-outline-success dropdown-toggle' data-bs-toggle='collapse' data-bs-target='#collapse_search'></button>
        <%= form.search_field :search, class: 'form-control shadow-none border-success', placeholder: "Search...", value: params[:search] %>
        <%= form.submit "Grow!", class: 'btn btn-outline-success' %>
    </div>

    <div class='collapse collapse-vertical' id='collapse_search'>
        <div class='card border-success-subtle card-body' data-controller="category">
            <div class='input-group mb-2'>
                <%= form.collection_select :category, PlantCategory.all, :id, :plant_category, {prompt: "Select a category..."}, {data: { category_target: "category", action: "change->category#updateSubcategories" }, class: 'form-select'} %>
            </div>
            <%# <div class='input-group' id='subcategory_select'>            
              <%= render '/layouts/subcategories', subcategories: [] 
            </div> %>
            <div class='input-group' id='subcategory_select'>
              <select id="subcategory" class="form-select" form='search_form' name='subcategory' disabled>
                <option value="">Select a subcategory...</option>
                <%= options_from_collection_for_select [], :plant_subcategory, :id %>
              </select>
            </div>
            <div class='d-flex justify-content-between mt-2 px-1'>
              <div class='form-check'>
                <%= form.check_box :sale, {class: 'form-check-input'} %>
                <%= form.label :sale, "On Sale", {class: 'form-check-label'} %>
              </div>
              <div class='form-check'>
                <%= form.check_box :updated, {class: 'form-check-input'} %>
                <%= form.label :updated, "Recently Updated", {class: 'form-check-label'} %>              
              </div>
            </div>

        </div>
    </div>
<% end %>