<p><b>Account Details</b></p>

<%= form_with model: @user, url: '/account', method: :put, class: 'row g-3 mb-3' do |f| %>
    <div class='col-12 col-sm-6'>
        <%= f.text_field :first_name, placeholder: 'First Name', class: 'form-control' %>
    </div>
    <div class='col-12 col-sm-6'>
        <%= f.text_field :last_name, placeholder: 'Last Name', class: 'form-control' %>
    </div>
    <div class='col-12'>
        <%= f.email_field :email, placeholder: 'Email', class: 'form-control', disabled: true %>
    </div>
    <div class='col-12'>
        <%= f.text_field :phone, placeholder: 'Phone', class: 'form-control' %>
    </div>
    <div class='col-12'>
        <%= f.text_field :street, placeholder: 'Street', class: 'form-control' %>
    </div>
    <div class='col-12 col-sm-6'>
        <%= f.text_field :city, placeholder: 'City', class: 'form-control' %>
    </div>
    <div class='col-6 col-sm-2'>
        <%= f.collection_select :province_id, Province.all, :id, :code, {prompt: 'Province...'}, class: 'form-select' %>
    </div>
    <div class='col-6 col-sm-4'>
        <%= f.text_field :postal_code, placeholder: 'Postal Code', class: 'form-control' %>
    </div>
    <div class='col-6'>
        <%= f.submit 'Update', class: 'btn btn-outline-secondary' %>
    </div>
    <div class='col-6 text-end'>
        <%= button_to 'Delete Account', '/account', method: :delete, data: { confirm: 'Are you sure?', turbo: false }, class: 'btn btn-outline-danger' %>
    </div>
<% end %>

<p><b>My Orders</b></p>
<% if @user.orders.present? %>
<% @user.orders.each do |order| %>
    <div class='accordion' id='orders'>
        <div class='accordion-item'>
            <h2 class='accordion-header' id='heading<%= order.id %>'>
                <button class='accordion-button border <%= order.paid ? 'border-success' : 'border-warning' %>' type='button' data-bs-toggle='collapse' data-bs-target='#collapse<%= order.id %>' aria-expanded='true' aria-controls='collapse<%= order.id %>'>
                    <% if order.status_id == 2 %>
                        <span class='badge bg-success me-2'>Shipped</span>
                    <% else %>                    
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="<%= order.paid ? 'green' : 'orange' %>" class="bi bi-circle-fill me-2" viewBox="0 0 16 16">
                        <circle cx="8" cy="8" r="8"/>
                    </svg>
                    <% end %>   
                    #<%= order.id %> - <%= order.created_at.strftime("%B %d, %Y") %>
                </button>
            </h2>
            <div id='collapse<%= order.id %>' class='accordion-collapse collapse' aria-labelledby='heading<%= order.id %>' data-bs-parent='#orders'>
                <div class='accordion-body'>
                    <table class='table'>
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Weight</th>
                                <th>Price</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% order.order_items.each do |item| %>
                                <tr>
                                    <td><%= item.plant.name %></td>
                                    <td><%= item.quantity %></td>
                                    <td><%= item.weight %></td>
                                    <td><%= number_to_currency(item.unit_price) %></td>
                                    <td><%= number_to_currency(item.quantity * item.unit_price) %></td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                    <ul>
                        <li>Subtotal: <%= number_to_currency(order.subtotal) %></li>
                        <% if order.gst.present? and order.gst > 0 %>
                            <li>GST: <%= number_to_currency(order.gst * order.subtotal) %></li>
                        <% end %>
                        <% if order.pst.present? and order.pst > 0 %>
                            <li>PST: <%= number_to_currency(order.pst * order.subtotal) %></li>
                        <% end %>
                        <% if order.hst.present? and order.hst > 0 %>
                            <li>HST: <%= number_to_currency(order.hst * order.subtotal) %></li>
                        <% end %>
                    </ul>
                    <div class='d-flex justify-content-between'>
                        <p><b>Total:</b> <%= number_to_currency(order.total) %></p>
                        <% if order.shipping_id.present? %>
                            <p><b>Tracking #:</b> <%= order.shipping_id %></p>
                        <% end %>
                    </div>

                </div>
            </div>
        </div>
    </div>
<% end %>
<% else %>
    <p>No orders, yet ;).</p>
<% end %>